matrix:
  homeserver: "https://matrix-client.matrix.org"
  user_id: "@userid:matrix.org"
  access_token: ""
  device_id: "mDWssiT3cV"
  room_id: "!rootid:matrix.org"

storage:
  database: "/etc/nexus/nexus.db"
