[defaults]
# host_key_checking = False
timeout = 30
# Запрещаем просить пароль SSH, только sudo
ask_pass = False
remote_tmp = /dev/shm
deprecation_warnings = False

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = True
become_flags = -H -S

[ssh_connection]
pipelining = True
scp_if_ssh = True
# Убираем все лишнее, оставляем чистый коннект по ключу
ssh_args = -o ControlMaster=auto -o ControlPersist=30s -o PreferredAuthentications=publickey
usetty = False